<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{> header}}
    <main class="site-content">
      {{{body}}}
    </main>
    <footer class="site-footer">
      <p>Contact: mazharsohail66@gmail.com</p>
    </footer>
  </body>
</html>